[submodule "scene"]
	path = scene
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
[submodule "submodules"]
	path = submodulesgit
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
[submodule "utils"]
	path = utils
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
[submodule "lpipsPytorch"]
	path = lpipsPytorch
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
